<h1 id = 'rental_listings'>Rental Listings</h1>
<p id= 'number-of-posts'>{{number}} results</p>
{{#if error}}
<div hidden>
    <p id = 'search-error-message2'>{{error}}</p>
</div>
{{/if}}
{{#grouped_each 2 posts}}
<div class="row">
      {{#each this}}
          <div class="col-sm-6 posts-area">
          <div class="card rounded">
            <div class = "card-image">
            <img class="img-fluid" src="http://localhost:3000/{{image}}" alt="Card image" width="300" height = '200'/>
            </div>
            <div class="card-image-overlay">
                  <span class="card-detail-badge">{{this.zipcode}}</span>
                  <span class="card-detail-badge">{{this.city}}</span>
                  <span class="card-detail-badge">{{this.price}}/mo</span>
            </div>
            <div class="card-body text-center">
              <p class="card-title">{{this.title}}</p>

              <a href="/posts/{{_id}}" class="post-info-btn">Detail</a>

            </div>
          </div>
          </div>
      {{/each}}
  </div>
  {{/grouped_each}}
