<div class="container">
  <h2>Manager Center</h2>

  <!-- Left-aligned media object -->
  <div class="media">
    <div class="media-left">
      <img src="/public/img/manager_image.jpeg" alt="admin" class="media-object" style="width:95px">
    </div>
    <div class="media-body">
      <h4 class="media-heading" id="manager-photo">Manager: {{manager.username}} 
          <button id="edit-profile-button" type="button" class="btn btn-info" data-toggle="modal" data-target="#managerModal">Edit Profile</button>
      </h4>
      <h4 id="manager-profile1">Email: {{manager.email}}</h4>
      <h4 id="manager-profile2">Level: {{manager.manager_level}}</h4>
      
    </div>

    <div class="modal fade" id="managerModal">
      <div class="modal-dialog" id="manager-profile-edit-modal">
        <div class="modal-content" id="manager-edit-content-backgroud">

            <!-- Modal Header -->
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="modal-title">Edit Profile</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body">
            <form id="user-account-update-form">
                <div class="form-group row">
                    <label for="manager-username" class="col-sm-4 col-form-label">Username: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-lg" id="manager-username" value={{manager.username}} readonly>
                    </div>

                </div>
                <div class="form-group row">
                    <label for="manager-email" class="col-sm-4 col-form-label">Email: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-lg" id="manager-email" value={{manager.email}}>
                    </div>
                </div>

                <div class="form-group row">
                    <label for="manager_level" class="col-sm-4 col-form-label">Manager Level: </label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control input-lg" id="manager_level" value={{manager.manager_level}}>
                        <input id="manager-id" hidden value={{manager._id}}>
                    </div>
                </div>
                <div class="form-group row">
                    <div id='manager-edit-error' hidden></div>
                </div>
                
                
                <div class="modal-footer">
                    <button type="submit" class="btn btn-danger btn-lg" data-dismiss="" id="manager-account-edit-save-button">Save</button>
                </div>

            </form>
            
            </div>


        </div>
      </div>
    
  </div>
  
</div>

<div class="container" id="manager-nav-tabs-container">
    <ul class="nav nav-tabs" id="manager-nav-tabs">
        <li id="allpost-button"><a href="#">All Posts</a></li>
        <li id="manager-history-button"><a href="#">Manager History</a></li>
    </ul>
</div>

<div class="container" id="manager-all-posts-container">
  <button id="manager-delet-post-button" type="submit" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#managerdeleteModal">Delete Post</button>
  <form id="manager-account-post-form">

    <table class="table table-condensed" id="manager-all-posts-table">
        <thead>
            <tr>
                <th>User name</th>
                <th>Post name</th>
            </tr>
        </thead>
        <tbody>
            {{#each userInfoList}}
                {{#if (post_notEmpty post)}}
                <tr>  
                    <td>{{username}}</td>
                    <td>
                        <dl>
                            {{#each post}}
                                <dt class="col-sm-1" >
                                    <input type="radio"  name="post-radio" value="{{this._id}}">
                                </dt>
                                
                                <dd class="col-sm-11"><a href="/posts/{{this._id}}">{{this.title}}</a></dd>
                                
                            {{/each}}  
                        </dl>
                    </td>
                </tr>
                {{/if}}
   
            {{/each}}
        </tbody>
      
    </table>

  </form>
</div>

<div class="modal fade" id="managerdeleteModal" role="dialog">
    <div class="modal-dialog" id="manager-delete-post-modal">
    
      <!-- Modal content-->
      <div class="modal-content" id="manager-modal-content-backgroud">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Delete Post Info: </h4>
        </div>
        <div class="modal-body">
            <p id="manager-delete-post-id" hidden></p>
          <p id="manager-delete-modal-body-p"></p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn-danger btn-lg" id="manager-delete-yes" data-dismiss="modal">Yes</button>
          <button type="button" class="btn btn-lg" data-dismiss="modal">No</button>
        </div>
      </div>
      
    </div>
</div>

<div class="container" id="manager-history-container" hidden>
    Deleted Posts: 
    <ol id="deleted-post-list">
        {{#each manager.manager_history}}
            <li >{{this}}</li>
        {{/each}}
    </ol>
</div>
</div>

<script src="/public/js/managerAccount.js"></script>