
<main>
<div>
  <h1>{{post.title}}</h1>

  <div class = 'address'>address: {{post.description}} </div>
  <div class = 'state'>state: {{post.state}} </div>
  <div class = 'city'>city: {{post.city}} </div>
  <div class = 'zipcode'>zipcode: {{post.zipcode}} </div>
  <div class = 'img'>image: {{post.img}} </div>
  <div class = 'description'>description: {{post.description}} </div>
  <div class = 'date'>date: {{post.date}} </div>
  <div class = 'tag'>tag: {{post.tag}} </div>
  <div class = 'phone'>phone: {{post.phone}} </div>
  <div class = 'price'>price: {{post.price}} </div>
  <div class = 'email'>email: {{post.email}} </div>
</div>
</main>
