<div class="container p-3 my-3 bg-dark text-white">
  <h4>My profile: <button id="edit-profile-button" type="button" class="btn btn-primary btn-sm" data-toggle="modal" data-target="#myModal">Edit Profile</button></h4>
  <div class="modal fade" id="myModal">
    <div class="modal-dialog modal-dialog-centered modal-lg">
      <div class="modal-content" id="modal-content-backgroud">
      
        <!-- Modal Header -->
        <div class="modal-header">
          <h5 class="modal-title">Edit Profile</h5>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>
        
        <!-- Modal body -->
        <div class="modal-body">
          <form id="user-account-update-form">
            <div class="form-group row">
              <label for="username" class="col-sm-2 col-form-label">Username: </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="username" value={{user.username}}>
              </div>
            </div>
            <div class="form-group row">
              <label for="email" class="col-sm-2 col-form-label">Email: </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="email" value={{user.email}}>
              </div>
            </div>
            <div class="form-group row">
              <label for="gender" class="col-sm-2 col-form-label">Gender: </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="gender" value={{user.gender}}>
              </div>
            </div>

            <div class="form-group row">
              <label for="address" class="col-sm-2 col-form-label">Address: </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="address" value={{user.address}}>
              </div>
            </div>

            <div class="form-group row">
              <label for="BOD" class="col-sm-2 col-form-label">Bod: </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="BOD" value={{user.BOD}}>
              </div>
            </div>

            <div class="form-group row">
              <label for="phone" class="col-sm-2 col-form-label">Phone: </label>
              <div class="col-sm-10">
                <input type="text" class="form-control" id="phone" value={{user.phone}}>
              </div>
            </div>
            <button type="submit" class="btn btn-danger" data-dismiss="modal" id="user-account-edit-save-button">Save</button>
          </form>
        </div>
        
        
      </div>
    </div>
  </div>
  <dl class="row">
    <dt class="col-sm-3">Username:</dt>
    <dd class="col-sm-9">{{user.username}}</dd>

    <dt class="col-sm-3">Email:</dt>
    <dd class="col-sm-9">{{user.email}}</dd>

    <dt class="col-sm-3">Gender:</dt>
    <dd class="col-sm-9">{{user.gender}}</dd>

    <dt class="col-sm-3">Address:</dt>
    <dd class="col-sm-9">{{user.address}}</dd>

    <dt class="col-sm-3">Bod:</dt>
    <dd class="col-sm-9">{{user.BOD}}</dd>

    <dt class="col-sm-3">Phone:</dt>
    <dd class="col-sm-9">{{user.phone}}</dd>
  </dl>
</div>

<div class="container p-3 my-3 bg-dark text-white">
  <h4>My Posts: <a href="http://localhost:3000/newpost" role="button" class="btn btn-primary btn-sm">Creat New Post</a></h4> 
  <dl class="row">
    {{#each posts}}
      <dt class="col-sm-5">Id:{{this.id}} : </dt>
      <dd class="col-sm-7"><a href="#">{{this.title}}</a></dd>
       
    {{/each}}
  </div>
  
  
</div>
