<h1>username:{{user.username}}</h1>
<h1>email:{{user.email}}</h1>
<h1>gender:{{user.gender}}</h1>
<h1>address:{{user.address}}</h1>
<h1>bod:{{user.BOD}}</h1>
<h1>phone:{{user.phone}}</h1>


{{#each posts}}
  <div>title:{{this.title}}</div>
  <div>id:{{this.id}}</div>


{{/each}}
