<div class='userSinglePostPage' id='userSinglePostPage'>
    <div class="userSinglePost_Head_div">
        <h1 class="userPostGroup_info" id='userPostGroup_h1'>{{post.title}}</h1>
    </div>
    <div class="userSinglePostInfo_div">
        <ul id="userSinglePostInfoError" hidden></ul>
        <button id="userPostGroup_EditBtm" type="submit">Edit</button>
        <button id="userPostGroup_SaveBtm" type="submit">Save</button>
        <button id="userPostGroup_DeleteBtm" type="submit">Delete</button>

        <table class="userPostGroup_info" id="userPostGroup_table" align="left">
            <tr>
                <td class="userSinglePostName">Title</td>
                <td class="userPostValue" id="userPostGroup_li_title">{{post.title}}</td>
            </tr>
            <tr>
                <td class="userSinglePostName">Address</td>
                <td class="userPostValue" id="userPostGroup_li_address">{{post.address}}</td>
            </tr>
            <tr>
                <td class="userSinglePostName">City</td>
                <td class="userPostValue" id="userPostGroup_li_city">{{post.city}}</td>
            </tr>
            <tr>
                <td class="userSinglePostName">State</td>
                <td class="userPostValue_state" id="userPostGroup_li_state">
                    <select id="userPostValue_state_select" name="stateSelect">
                        <option value="AL">Alabama</option>
                        <option value="AK">Alaska</option>
                        <option value="AZ">Arizona</option>
                        <option value="AR">Arkansas</option>
                        <option value="CA">California</option>
                        <option value="CO">Colorado</option>
                        <option value="CT">Connecticut</option>
                        <option value="DE">Delaware</option>
                        <option value="DC">District Of Columbia</option>
                        <option value="FL">Florida</option>
                        <option value="GA">Georgia</option>
                        <option value="HI">Hawaii</option>
                        <option value="ID">Idaho</option>
                        <option value="IL">Illinois</option>
                        <option value="IN">Indiana</option>
                        <option value="IA">Iowa</option>
                        <option value="KS">Kansas</option>
                        <option value="KY">Kentucky</option>
                        <option value="LA">Louisiana</option>
                        <option value="ME">Maine</option>
                        <option value="MD">Maryland</option>
                        <option value="MA">Massachusetts</option>
                        <option value="MI">Michigan</option>
                        <option value="MN">Minnesota</option>
                        <option value="MS">Mississippi</option>
                        <option value="MO">Missouri</option>
                        <option value="MT">Montana</option>
                        <option value="NE">Nebraska</option>
                        <option value="NV">Nevada</option>
                        <option value="NH">New Hampshire</option>
                        <option value="NJ">New Jersey</option>
                        <option value="NM">New Mexico</option>
                        <option value="NY">New York</option>
                        <option value="NC">North Carolina</option>
                        <option value="ND">North Dakota</option>
                        <option value="OH">Ohio</option>
                        <option value="OK">Oklahoma</option>
                        <option value="OR">Oregon</option>
                        <option value="PA">Pennsylvania</option>
                        <option value="RI">Rhode Island</option>
                        <option value="SC">South Carolina</option>
                        <option value="SD">South Dakota</option>
                        <option value="TN">Tennessee</option>
                        <option value="TX">Texas</option>
                        <option value="UT">Utah</option>
                        <option value="VT">Vermont</option>
                        <option value="VA">Virginia</option>
                        <option value="WA">Washington</option>
                        <option value="WV">West Virginia</option>
                        <option value="WI">Wisconsin</option>
                        <option value="WY">Wyoming</option>
                    </select></td>
            </tr>
            <tr>
                <td class="userSinglePostName">Zipcode</td>
                <td class="userPostValue" id="userPostGroup_li_zipcode">{{post.zipcode}}</td>
            </tr>
            <tr>
                <td class="userSinglePostName">Description</td>
                <td class="userPostValue" id="userPostGroup_li_description">{{post.description}}</td>
            </tr>
            <tr>
                <td class="userSinglePostName">Tag</td>
                <td class="userPostValue_tag" id="userPostGroup_li_tag">
                    <select id="userPostValue_tag_select" name="tagSelect">
                        <option value="Apartment">Apartment</option>
                        <option value="House">House</option>
                        <option value="Villa">Villa</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td class="userSinglePostName">E-mail</td>
                <td class="userPostValue" id="userPostGroup_li_email">{{post.email}}</td>
            </tr>
            <tr>
                <td class="userSinglePostName">Phone</td>
                <td class="userPostValue" id="userPostGroup_li_phone">{{post.phone}}</td>
            </tr>
            <tr>
                <td class="userSinglePostName">Price</td>
                <td class="userPostValue" id="userPostGroup_li_price">{{post.price}}</td>
            </tr>
        </table>
    </div>
</div>


<script src="/public/js/userSinglePost.js"></script>